[submodule "catkin_ws/src/agribot_ros"]
	path = catkin_ws/src/agribot_ros
	url = https://github.com/jrkwon/agribot_ros
[submodule "catkin_ws/src/ydlidar_ros_driver"]
	path = catkin_ws/src/ydlidar_ros_driver
	url = https://github.com/YDLIDAR/ydlidar_ros_driver
[submodule "catkin_ws/src/ugv_sdk"]
	path = catkin_ws/src/ugv_sdk
	url = https://github.com/agilexrobotics/ugv_sdk
